.logo{
  text-align: center;
}

body {
  background-image: url('../img/FF.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

div.intro {
    text-align: center;
    background-color: white;
    width: 300px;
    border: 15px solid green;
    padding: 50px;

}
